**/.*
**/*.md
**/*.test.*
**/*-test.*
**/*_test.*
**/*-test-*
**/*_test.*
**/*_test_*
**/test.*
**/test
**/*.tests.*
**/*-tests.*
**/*_tests.*
**/*-tests-*
**/*_tests.*
**/*_tests_*
**/tests.*
**/tests
Dockerfile
